<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--<system.serviceModel>-->
    <!--<bindings>
      <basicHttpBinding>
        <binding name="HttpBinding_MTOM" messageEncoding="Text" transferMode="Streamed" maxReceivedMessageSize="4294967294"
                 maxBufferSize="524288" maxBufferPoolSize="524288">
        </binding>
      </basicHttpBinding>
    </bindings>-->

    <!--<endpoint address="winceStream"
                        binding="basicHttpBinding"
                        bindingConfiguration="HttpBinding_MTOM"
                        contract="EssentialWCF.IFileTransferServiceMarco" />-->

    <!--<endpoint address="winceStream"
                        binding="basicHttpBinding"
                        bindingConfiguration="HttpBinding_MTOM"
                        contract="EssentialWCF.IFileTransferServiceMarco" />-->

    <!--<bindings>
      <basicHttpBinding>
        <binding name="uploadfilebinding" closeTimeout="10:01:00"
          maxBufferSize="204857600" maxBufferPoolSize="204857600"
          maxReceivedMessageSize="104857600" openTimeout="10:01:00"
          receiveTimeout="10:10:00" sendTimeout="10:01:00"
          messageEncoding="Mtom" transferMode="StreamedRequest">
          <readerQuotas maxDepth="204857600" maxStringContentLength="204857600"
                        maxArrayLength="204857600" maxBytesPerRead="204857600"
                        maxNameTableCharCount="204857600" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="FileUpload"
               behaviorConfiguration="uploadfilebehavior">
        <endpoint
              address=""
              binding="basicHttpBinding"
              bindingConfiguration="uploadfilebinding"
              contract="">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint
              address="mex"
              binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="uploadfilebehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
  <!--</system.serviceModel>-->
</configuration>